@import "index.scss";

// Header.scss
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.5s ease-in-out;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0 20px;
    width: 80%;
    margin: 0 auto;
  }

  .navbar-brand img {
    width: 15vw;
    max-width: 100px;
    transition: 0.4s ease-in-out;
  }

  .white-logo {
    filter: brightness(0) saturate(100%) invert(100%) ;
  }

  .navbar-links-large,
  .navbar-links-small {
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      opacity: 0.75;
      margin-left: 40px;

      &:hover, .active {
        opacity: 1;
      }

    }
  }

  .navbar-toggle {
    display: none;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: white;
      margin-bottom: 5px;
    }
  }

  .navbar-links-small {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    width: 100%;

    a {
      width: 100%;
      padding: 10px 0;
      margin-left: 0;
      text-align: center;
    }
  }
}

.opaque-bg {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

}

@media screen and (max-width: 768px) {
  .header {


    .navbar-links-large {
      display: none;
    }

    .navbar-toggle {
      display: block;
    }

    .navbar-links-small.active {
      width: 100%;
      height: 120px;
      transition: 1s ease-in-out;
    }
  }
}

// Hero.scss

.hero {
  height: 90vh;
  padding: 150px 0 50px 0;
  background-image: url("assets/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    z-index: 2;

    span {
      font-size: 20px;
      margin-left: 2px;
    }

    h1 {
      font-size: 65px;
      font-weight: 700;
      letter-spacing: 0.8px;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin-left: 2px;
      margin-top: 4px;

      span {
        font-size: 24px;
        color: $primary-color;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #d1d1d1;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      max-width: 600px;
    }

    .btn-container {
      margin-top: 20px;
      max-width: 200px;
    }
  }
}


// Social icon
.social-icon {
  display: inline-block;

  a {
    width: 40px;
    height: 40px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 20%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 20%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }

  a:hover::before {
    transform: scale(1);
  }

  a img {
    width: 50%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
}

// Button

.btn {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  width: 100%;
  position: relative;
  background: rgba(217, 217, 217, 0.1);
  transition: 0.3s ease-in-out;
  border-radius: 10px;

  span {
    z-index: 1;
  }

  &::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: $primary-color;

    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:hover {
    //color: #121212;
    border: 1px solid $primary-color;
    background: transparent;
    box-shadow: 0 0 15px 5px rgba(94, 43, 210, 0.5);
  }

  &:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

//Skills

.skills {
  display: flex;
  justify-content: center;

  .skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #151515;
    border-radius: 20px;
    text-align: center;
    margin-top: -100px;
    padding: 30px 10px;
    width: 80%;

    h2 {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin-bottom: 30px;
      max-width: 600px;
    }

    .container {
      width: 80%;

      .skill {
        img {
          margin: 20px auto;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}


.footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .logo-container {
      img {
        width: 15vw;
        max-width: 100px;
      }
    }

    .copyright {
      display: flex;
      flex-direction: column;
      align-items: end;
      row-gap: 20px;
    }
  }
}
